<%
var param = {
    "title": "ホーム",
    "entitle": "Home",
    "css": "index",
    "js": "app.min",
    "description": "iOSでhoverエフェクトを付けると一定条件下でタップを2回要するようになるバグのためのページ",
    "hierarchy": 0,
    "indexFlag": true,
    "ogpimage": commons.commons.siteurl + "img/eyecatch.jpg"
};
var commons = commons;
%>
<%- include("common/_pathdir", { param }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("common/_head", { param }) %>
</head>
<body>
<div id="wrapper">
<%- include("common/_header", { commons, param }) %>
<%- include("common/_eyecatch_index", { commons }) %>
    <!-- main -->
    <main class="main indexpage" id="toppage">
        <section class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="contents_header page-header">
                       <h2>概要<small>About</small></h2>
                    </div>
                    <p>このページは、iPhone, iPadといったiOSで、一定条件のhoverエフェクトを付けるとタップを2回要するようになるバグを検証するためのページです。</p>
                    <p>例えば、下記のボタン(左から右に色が満ちていく)は遷移に2回タップを要します。</p>
                    <p class="btnWrapper">
                        <a href="<%= path %>about.html" class="btn btn_rightArrow">概要へ</a>
                    </p>
                    <p>下記のようなボタン(上から下に色が満ちていく)でも同様です。</p>
                    <p class="btnWrapper">
                        <a href="<%= path %>about.html" class="btn btn_bottomDown">概要へ</a>
                    </p>
                </div>
            </div>
        </section>
    </main>
    <!-- /main -->
<%- include("common/_footer", { commons }) %>
</div>
<%- include("common/_scripts", { param }) %>
</body>
</html>